@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global Styles */

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  padding: px 0%;
  background: #ffffff;
}

a{
  text-decoration: none;
}

/* Container Styles */
.container {
  display: flex;
  height: 89vh;
}
.main-wrapper{

  flex: 2;  overflow-y: none;
}
.side-bar{
  background: #faf9f9;
  flex: .3;
  padding: 40px;
  /* background-color: white; */
}

.side-bar ul{
  padding: 0 40px;
  list-style: none;
}

.side-bar{
  background: rgb(230, 230, 231);
}


@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .side-bar{
    background: #114;
    color: white !important;
  }
  .side-bar a{
    color: white !important;
  }
}

/* Navigation Menu Styles */

nav.nav-menu {
  width: 100%;
  background-color:#000000;
  padding: 0px;
  
}

nav.nav-menu ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: clamp(.8rem, 1.2vw, 2rem); 
}

.nav-menu .nav-item {
  padding: 20px;
  transition: background-color 500ms ease-in-out;
  
}

.nav-menu .nav-item:hover {
  cursor: pointer;
  background-color: #000000;
  
}

.nav-menu .nav-item a{
  text-decoration: none;
  color: #ffffff;
  
}


/* Main Content Wrapper Styles */
.main-wrapper {
  background: white;
  padding: 0px 0%;
}

section {
  margin-bottom: 30px;
}

section.head,
section.youtube-embed {
  text-align: center;
}


h1 {
  font-size: 35px;
  color: #009dfa;
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  font-size: 30px;
  color: #009dfa;
}
h4 {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}


h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000000;

}

ul{
  padding-left: 30px;
  color: rgb(0, 0, 0);
  
  }
  
  .side ul{
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.5rem;
    font-family: "Cormorant SC", sans-serif;
    font-size:30px;

  }

  ol{
    padding-left: 40px;
    }
    
    .side ol{
      text-align: justify;
      margin-bottom: 10px;
      line-height: 1.5rem;
      font-family: "Cormorant SC", sans-serif;
      font-size:30px;
  
    }

p {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.5rem;
  color: rgb(0, 0, 0);
}

img {
  max-width: 100%;
  float: center;
  border-radius: 10px;
  margin: 15px;
}

.two-col {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.two-col div {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 20%;
  }

  .two-col {
    flex-direction: column;
  }

  .two-col div {
    width: 100%;
  }

  .main-wrapper {
    padding: 5%;
  }
}
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(#5388be7c, #5389be), url("https://danhalemarketing.com/wp-content/uploads/2023/02/Untitled-design-28.jpg");
  /* Set a specific height */
  height: 500px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -5%;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-30%, -30%);
  color: #ffffff(255, 255, 255);
  font-weight:500;
  font-size: 16px;
  width: 100%;
  padding: 20px;
}
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
 background-color: rgba(0, 0, 0, 0);
 color: #ffffff;
 border-radius: 100%;
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
  color: rgb(0, 0, 0);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #009dfa;}

.dropdown-content a:hover {color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0c0c0c00;}


.button {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 0px;
  box-shadow: 0 0px #ffffff;
}

.button:hover {background-color: #009dfa}

.button:active {
  background-color: #009dfa;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

a { 
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #009dfa;
  color: rgb(255, 255, 255);
}

.previous {
  background-color: #f1f1f1;
  color: #0d57af;
}

.next {
  background-color: #f36e30;
  color: white;
}

.round {
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}